<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/assets/img/signpost.png">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FPZ4SZV14K"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-FPZ4SZV14K');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore - Hikelah!</title>
    
        
        <!--Link to Bootstrap and Popper Framework-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

        <!--Link to custom styles-->
        <link rel="stylesheet" href="/css/hikelah_style.css">

        <!--Link to Google Font API for custom fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <!--Link to script.js-->
        <script src="/js/script.js"></script>
        
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var card = document.getElementById("measure-card");
            });
        </script>
    </head>
    
    <body>
      <%- include('partials/navbar.ejs'); %>
      <!--Alert Banner-->
      <div class="container alert alert-secondary alert-dismissible fade show" role="alert">
        <strong>Coming Soon:</strong> Detailed Trail Maps, Flora/Fauna and Animal Sightings, notable landmarks around the trail, and user reviews!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Notice:</strong> Punggol Promenade Nature Walk is <b>partially closed</b> for track widening works until 30 Sept 2024.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

    <div class="container d-flex justify-content-center">
      <div class="col-12 mb-4">
        <img class="hero-image image-fluid" src="/assets/img/explore-banner.png" alt="image of a hiking trail in Singapore " />        
      </div>
    </div>
    <br />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1 class="page-head center-page-head">Let's Hike!</h1>
      </div>
    </div>
    <br />

    <!--Check box Filters-->
    <div class="d-flex justify-content-center mb-4">
    <div class="row gx-4">
      <div class="col-auto">
          <div class="dropdown mb-3 custom-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="regionDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Region
              </button>
              <ul class="dropdown-menu" aria-labelledby="regionDropdown">
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="region-north" id="filter-north"><label class="form-check-label" for="filter-north">North</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="region-south" id="filter-south"><label class="form-check-label" for="filter-south">South</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="region-east" id="filter-east"><label class="form-check-label" for="filter-east">East</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="region-west" id="filter-west"><label class="form-check-label" for="filter-west">West</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="region-central" id="filter-central"><label class="form-check-label" for="filter-central">Central</label></div></li>
              </ul>
          </div>
      </div>

      <div class="col-auto">
          <div class="dropdown mb-3 custom-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="typeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Type
              </button>
              <ul class="dropdown-menu" aria-labelledby="typeDropdown">
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="type-challenge" id="filter-challenge"><label class="form-check-label" for="filter-challenge">Challenge Trail</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="type-park" id="filter-park"><label class="form-check-label" for="filter-park">Nature Park</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="type-connector" id="filter-connector"><label class="form-check-label" for="filter-connector">Park Connector</label></div></li>
              </ul>
          </div>
      </div>

      <div class="col-auto">
          <div class="dropdown mb-3 custom-dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="terrainDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  Terrain
              </button>
              <ul class="dropdown-menu" aria-labelledby="terrainDropdown">
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="trail-walk" id="filter-trail-walk"><label class="form-check-label" for="filter-trail-walk">Paved Trails</label></div></li>
                  <li><div class="form-check"><input class="form-check-input" type="checkbox" value="trail-forest" id="filter-trail-forest"><label class="form-check-label" for="filter-trail-forest">Gravel/Off-road Trails</label></div></li>
              </ul>
          </div>
      </div>
  </div>

    </div>

    <!--Filter pill generator-->

    <div class="filters mt-3">
      <div class="d-flex flex-wrap align-items-center">

        <h5>Selected filters:</h5>
        <div class="ms-3">
          <div id="filter-pills-container" class="d-flex flex-wrap"></div>

      </div>
  </div>

    </div>

    <hr class="break-line"/>


    <!--Explore and Map buttons-->

    <!--Trail Cards, these trial cards were originally supposed to lie in a MySQL database, under trails.sql, due to feature complexity, chose to do the information extraction directly on ejs file itself. This is not a scalable solution, but it helps to prove the concept--> 
    <div class="container search ">
      <div class="cards-container">

    <!--Bukit Batok Nature Park Walking Trail-->
    <%- include('partials/search-card', {
      cardClasses: 'region-west type-park trail-walk sight-ff sight-animal',
      cardLink: 'https://www.nparks.gov.sg/~/media/nparks-real-content/gardens-parks-and-nature/diy-walk/diy-walk-pdf-files/bukit-batok-nature-park-walking-trail.pdf?la=en',
      cardImage: '/assets/img/bukit-batok-nature.jpeg',
      cardAltText: 'bukit batok nature park',
      cardHeaderSubtext: '',
      cardTitle: 'Bukit Batok Nature Park Walking Trail',
      cardPills: ['West','Paved Trails','Nature Park', 'Casual Walk', 'Family-friendly'],
      cardDistance: '2km | Est. 1hr 30min',
      cardSightings: [{icon: 'fa-leaf', tooltiptext: 'Flora Fauna'}, {icon:'fas fa-crow', tooltiptext:'Red Junglefowl, Asian Koel, Crimson Sunbird'}],
      cardDescription: 'This 36-hectare park offers a trail that meanders through a well-established secondary forest. As you walk through the forest, look out for interesting trees highlighted in this guide. This park holds some historical significance. It was once mined for granite; the quarry has since become a large reflecting pool. As you embark on the ascent to the top of the hill, stop at the lookout points that offer vantage views of the quarry pool. This trail also takes you to a war memorial at the top of the hill, and to the quarry pool at its foot.'
  }) %>
      
    <!--Coney Island Park-->  
    <%- include('partials/search-card', {
      cardClasses: 'region-north type-park trail-walk trail-forest',
      cardLink: 'https://www.nparks.gov.sg/-/media/nparks-real-content/gardens-parks-and-nature/diy-walk/diy-walk-pdf-files/diy-coney-island-brochure.pdf',
      cardImage: '/assets/img/coney-island-park.jpeg',
      cardAltText: 'Coney island park',
      cardHeaderSubtext: 'Recommended by Hikelah',
      cardTitle: 'Coney Island',
      cardPills: ['North', 'Mixed Trail', 'Nature Park', 'Bike-friendly'],
      cardDistance: '6km | Est. 1h 30 min',
      cardSightings: [{icon: 'fa-leaf', tooltiptext: 'Flora Fauna'}, {icon: 'fa-paw', tooltiptext:'Coney Island Cow'}],
      cardDescription: 'Discover the vibrant and thrilling Coney Island in Singapore, a hiker\'s paradise teeming with scenic trails, rich biodiversity, and stunning coastal views. Embark on an adventure where you can explore lush forests, spot diverse wildlife, and enjoy serene beachfronts, all within a nature lover\'s dream escape.'
  }) %>

      <!--Eastern Corridor-->
      <%- include('partials/search-card', {
      cardClasses: 'region-east type-challenge trail-walk sight-ff sight-animal',
      cardLink: 'https://thesmartlocal.com/read/eastern-corridor-cycling-guide/',
      cardImage: '/assets/img/eastern-corridor.jpeg',
      cardAltText: 'East Corridor',
      cardHeaderSubtext: '',
      cardTitle: 'Eastern Corridor',
      cardPills: ['East', 'Challenge Trail', 'Paved Trails', 'Bike-friendly'],
      cardDistance: '18km | Est. 3h 10min',
      cardSightings: [{icon: 'fa-leaf', tooltiptext: 'Flora Fauna', icon:'fas fa-crow', tooltiptext:'bird bird'}],
      cardDescription: 'The Eastern Corridor is an 18 km route of park connectors, gradually completed since its announcement in 2021. Half of the route runs along scenic waterways enhanced under PUB\'s Active, Beautiful, Clean Waters (ABC Waters) Programme, offering park visitors a picturesque cycling experience in the east. With multi-tiered landscaping that enhances greenery and attracts biodiversity, this corridor provides abundant opportunities for the community to explore parks and nature areas.'
  }) %>
  
    <!-- Punggol Promenade Nature Walk -->
    <%- include('partials/search-card', {
      cardClasses: 'region-north type-connector trail-walk sight-ff',
      cardLink: 'https://www.punggol.com/punggol-promenade.html',
      cardImage: '/assets/img/punggol-promenade.jpeg',
      cardAltText: 'Punggol Promenade',
      cardHeaderSubtext: 'Partially Closed',
      cardTitle: 'Punggol Promenade Nature Walk',
      cardPills: ['North','Park Connector', 'Paved Trails','Family-friendly', 'Bike-friendly'],
      cardDistance: '2.5km | Est. 1h 00min',
      cardSightings: [{icon: 'fa-leaf', tooltiptext: 'Flora Fauna'}], 
      cardDescription: 'Linking Punggol Point to Punggol East, Punggol Promenade is a dynamic waterfront destination offering access to Singapore\'s rustic northeastern coastline. Explore three unique zones—Riverside Walk, Nature Walk, and Punggol Point Walk—each providing distinct recreational experiences. Embark on the 2.4 km Nature Walk, featuring fishing platforms and rest shelters along a scenic, winding track perfect for a peaceful retreat and breathtaking views.'
  }) %>

    <!-- Rail Corridor -->
    <%- include('partials/search-card', {
      cardClasses: 'region-west region-central type-park trail-walk',
      cardLink: 'https://www.timeout.com/singapore/things-to-do/the-ultimate-guide-to-the-rail-corridor-in-singapore',
      cardImage: '/assets/img/rail-corridor.jpeg',
      cardAltText: 'Coney island park',
      cardHeaderSubtext: 'Recommended by Hikelah',
      cardTitle: 'Rail Corridor',
      cardPills: ['West-Central', 'Nature Park', 'Paved Trails', 'Family-friendly'],
      cardDistance: '24km | Est. 3h 40min',
      cardSightings: [{icon: 'fa-leaf', tooltiptext: 'Flora Fauna'}],
      cardDescription: 'The Rail Corridor, once a bustling railway line connecting Singapore to the Malay Peninsula, has been transformed into a vibrant open space since the return of railway land in 2011. Now a continuous green corridor through the heart of Singapore, it invites communities to create new memories while exploring its scenic paths and rich history.'
  }) %>

    <!--Bidadari Park Connector-->
    <%- include('partials/search-card', {
      cardClasses: 'region-central region-east type-connector trail-walk sight-ff sight-animal',
      cardLink: 'https://pcn.nparks.gov.sg/bidadari-pc/',
      cardImage: '/assets/img/bidadari-park.jpeg',
      cardAltText: 'Bidadari PCN',
      cardHeaderSubtext: '',
      cardTitle: 'Bidadari Park Connector',
      cardPills: ['East-Central','Park Connector', 'Paved Trails', 'Bike-friendly'],
      cardDistance: '1km | Est. 30min',
      cardSightings: [{icon:'fa-leaf', tooltiptext:'Flora Fauna'}],
      cardDescription: 'Bidadari Park Connector is a 4m wide pathway offering seamless recreational access to the upcoming Bidadari Park, featuring unique attractions like Alkaff Lake, Heritage Walk, Woodlands Core, and the Memorial Garden. This lush, biodiversity-rich route also links one of the five nature ways to the main park, enhancing the overall connectivity and visitor experience.'
  }) %>
  
    <!--TreeTop Walk (From Windsor Nature Park)-->
    <%- include('partials/search-card', {
      cardClasses: 'region-central type-park trail-forest sight-ff sight-animal',
      cardLink: 'https://www.nparks.gov.sg/-/media/nparks-real-content/gardens-parks-and-nature/diy-walk/diy-walk-pdf-files/treetop_walk_eguide_lres.pdf',
      cardImage: '/assets/img/treetop-walk.jpeg',
      cardAltText: 'Coney island park',
      cardHeaderSubtext: '',
      cardTitle: 'TreeTop Walk (From Windsor Nature Park)',
      cardPills: ['Central','Nature Park', "Offroad Trails", 'Family-friendly' ],
      cardDistance: '5km | Est. 2h 10min',
      cardSightings: [{icon:'fa-leaf', tooltiptext:'Flora Fauna'}, {icon:'fas fa-crow', tooltiptext:'Chestnut-bellied Malkoha, White-bellied Sea Eagle, Red-eyed Bulbul'}],
      cardDescription: 'This trail takes you from Windsor Nature Park to TreeTop Walk, a 250m-long freestanding suspension bridge between the two highest points in the Central Catchment Nature Reserve (MacRitchie), and the first of its kind in Singapore. From the suspension bridge, you may delight in a birds eye view of the forest canopy and spot different wildlife in their natural habitat. You can also enjoy panoramic views of the verdant greenery of the Central Catchment Nature Reserve and the placid waters of Upper Peirce Reservoir.'
  }) %>
  
    <!--Marang and Faber Walk Trail-->
    <%- include('partials/search-card', {
      cardClasses: 'region-south type-park trail-walk sight-ff sight-animal',
      cardLink: 'https://eunicetan.co/marang-trail-singapore/',
      cardImage: '/assets/img/marang-faber.webp',
      cardAltText: 'Marang, Faber Walk',
      cardHeaderSubtext: 'Recommended by Hikelah',
      cardTitle: 'Marang and Faber Walk Trail',
      cardPills: ['South', 'Nature Park', 'Mixed Trail'],
      cardDistance: '3km | Est. 1h 15min',
      cardSightings: [{icon: 'fa-leaf', tooltiptext: 'Flora Fauna', icon:'fa-paw', tooltiptext:'Small animals'}],
      cardDescription: 'The loud chirping of cicadas breaks the silence of the forest as you step off the escalator exiting the MRT station and enter the Marang Trail. If you are lucky, you might spot a Racket-tailed Drongo, Black-naped Oriole and other birds amid the lush greenery. At the top of Marang Trail, the mostly sheltered Faber Walk takes you on a loop around the peak of Mt  Faber. Follow the paved walkwats to enjoy spectacular views of the southern part of Singapore and the Southern Islands.'
  }) %>
  
    <!--Western Adventure Loop-->
    <%- include('partials/search-card', {
      cardClasses: 'region-west type-challenge trail-walk',
      cardLink: 'https://www.nparks.gov.sg/~/media/nparks-real-content/gardens-parks-and-nature/diy-walk/diy-walk-pdf-files/western-adventure-loop.pdf?la=en',
      cardImage: '/assets/img/western-adventure-loop.jpeg',
      cardAltText: 'Western adventure Loop',
      cardHeaderSubtext: '',
      cardTitle: 'Western Adventure Loop',
      cardPills: ['West', 'Challenge Trails','Paved Trails', 'Bike-friendly'],
      cardDistance: '20km | Est. 3h 30min',
      cardSightings: [{icon:'fa-leaf', tooltiptext:'Flora Fauna'}],
      cardDescription: 'The 20-kilometre Western Adventure Loop connects eight parks in western Singapore, including Zhenghua Park, Dairy Farm Nature Park, and Bukit Batok Nature Park. Perfect for thrill-seekers, it offers green corridors, nature reserves, and trails for activities like jogging, cycling, rollerblading, mountain biking, and rock climbing. With scenic views, rich biodiversity, and family-friendly facilities, this loop is a refreshing escape and adventure hub for everyone.'
  }) %>

      <!--Southern Ridges-->
      <%- include('partials/search-card', {
        cardClasses: 'region-south type-park trail-walk',
        cardLink: 'https://beta.nparks.gov.sg/docs/default-source/parks-docs/shared/hortpark-southern-ridges-diy-walk.pdf',
        cardImage: '/assets/img/southern-ridges.webp',
        cardAltText: 'Southern Ridges',
        cardHeaderSubtext: '',
        cardTitle: 'Southern Ridges',
        cardPills: ['South', 'Nature Park','Paved Trails', 'Bike-friendly'],
        cardDistance: '10km | Est. 2h 20min',
        cardSightings: [{icon:'fa-leaf', tooltiptext:'Flora Fauna'}],
        cardDescription: 'The Southern Ridges comprise 10 kilometres of trails connecting three parks along the southern ridge of Singapore. Some of the attractions along these trails include its greenery and the connecting bridges.'
    }) %>

    <!-- Round island PCN -->
    <%- include('partials/search-card', {
      cardClasses: 'region-north region-south region-east region-west region-central type-challenge trail-walk ff-sight',
      cardLink: 'https://pcn.nparks.gov.sg/know-our-pcn/rir/',
      cardImage: '/assets/img/round-island.jpeg',
      cardAltText: 'Round island PCN',
      cardHeaderSubtext: '',
      cardTitle: 'Round Island Park Connector',
      cardPills: ['Island-wide', 'Challenge Trail', 'Paved Trails', 'Bike-friendly'],
      cardDistance: [' 150km | Est. 10h 30 min'],
      cardSightings: [{icon: 'fas fa-leaf', tooltiptext: 'Native species'}, {icon: 'fa-paw', tooltiptext:'Smooth-coated otter, Brahminy Kite'}],
      cardDescription: 'The Round Island Route (RIR), a continuous 150km park connector, is part of NParks\' vision for a 360km island-wide network of recreational trails. Upon completion, the RIR will be the longest link in this network, offering abundant opportunities for hiking, cycling, and nature-based recreation. This trail will also enhance ecological connectivity between natural habitats, bolstering Singapore’s ecological resilience.'
  }) %>
  
    </div>
    </div>

      <%- include('partials/footer.ejs'); %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>


    </body>
      
  
  
  </html>
    